
/** hack for width **/
  .news_body {
    width: 98% !important;
  }
  .news_nav {
    display: none !important;
  }
  header {
    display: none !important;
  }
  .news_heading {
    display: none !important;
  }
  #news {
    padding-top:0px !important;
  }
  .news_headlines{
    margin-top: 35px !important;
  }



