
/** hack for width **/
  .news_body {
    width: 98% !important;
  }




/** hack **/

  .dnone {
    display:none;
  }

  a {
    text-decoration: underline !important;
  }
  .b {
    font-weight:bold;
  }
  .w {
    color:#ffffff !important;
  }
  .black {
    color:#000000 !important;
  }
  .r {
    color:#ff0000 !important;
  }
  .gtext99 {
    color:#999999 !important;
  }
  .gtext67 {
    color:#676767 !important;
  }
  .shadow {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
  }
  .shadow16px {
    box-shadow: 0px 0px 16px rgba(0,0,0,0.7);
  }
  .alpha00 {
    opacity: .0 !important;
  }
  .alpha01 {
    opacity: .1 !important;
  }
  .alpha025 {
    opacity: .25 !important;
  }
  .alpha05 {
    opacity: .5 !important;
  }
  .alpha10 {
    opacity: 1.0 !important;
  }

  .font30 {
    font-size:30px !important;
  }
  .font28 {
    font-size:28px !important;
  }
  .font26 {
    font-size:26px !important;
  }
  .font24 {
    font-size:24px !important;
  }
  .font22 {
    font-size:22px !important;
  }
  .font20 {
    font-size:20px !important;
  }
  .font18 {
    font-size:18px !important;
  }
  .font16 {
    font-size:16px !important;
  }
  .font14 {
    font-size:14px !important;
  }
  .font12 {
    font-size:12px !important;
  }
  .font10 {
    font-size:10px !important;
  }
  .font8 {
    font-size:8px !important;
  }
  .font6 {
    font-size:6px !important;
  }

  .m_yellow {
    background: linear-gradient(transparent 50%, #ffff66 50%);
    margin-left: 0.0em;
    margin-right: 0.2em;
  }
  .m_red {
    background: linear-gradient(transparent 50%, #ffaaaa 50%);
    margin-left: 0.0em;
    margin-right: 0.2em;
  }
  .m_blue {
    background: linear-gradient(transparent 50%, #d1ceff 50%);
    margin-left: 0.0em;
    margin-right: 0.2em;
  }
  .m_white {
    background: linear-gradient(transparent 50%, #ffffff 50%);
    margin-left: 0.0em;
    margin-right: 0.2em;
  }
  .m_orange {
    background: linear-gradient(transparent 50%, #ffcc8d 50%);
    margin-left: 0.0em;
    margin-right: 0.2em;
  }
  .m_green {
    background: linear-gradient(transparent 50%, #99ffaa 50%);
    margin-left: 0.0em;
    margin-right: 0.2em;
  }
  .m_purple {
    background: linear-gradient(transparent 50%, #ff8dcc 50%);
    margin-left: 0.0em;
    margin-right: 0.2em;
  }
  .m_pink {
    background: linear-gradient(transparent 50%, #ffcccc 50%);
    margin-left: 0.0em;
    margin-right: 0.2em;
  }

  .m_round {
    display: inline-block;
    border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    padding: 4px;
    background-color: #eeeee0;
    color: #730000;
  }

  .l_blue{
    border:1px solid #337ab7;
  }
  .l_area{
    border:1px solid #cebea4;
  }


  .news_inner {
    width: 100% !important;
  }
  div.news{
    font-size:12px;
    margin:10px 0px;
  }

  div.alpha05{
    opacity: 0.5;
  }

  div.area{
    width: 99%;
    margin: 10px auto;
    border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    padding: 5px;
    background-color: #F2DEBB;
    text-align:left;
  }

  div.update_info{
    width: 99%;
    margin: 10px auto;
    border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    padding: 5px;
    background-color: #fbdaf6;
    text-align:left;
    border:#666666 solid 1px;
  }

  .update_info_title{
    background-image: -webkit-linear-gradient(left, #ff0000, #ff7e7e, #ff0000);
    background-image: linear-gradient(90deg, #ff0000, #ff7e7e, #ff0000);
    color: #ffffff;
    border: 1px #990000 solid;
    font-weight: bold;
    padding: 1px;
    margin: 0px 0px -8px -8px !important;
    width: 200px !important;
    font-size: 16px;
  }

  .update_info_title_subject{
    width: 244px;
    background-image: -webkit-linear-gradient(left, #ea89de, #b768ac);
    background-image: linear-gradient(90deg, #ea89de, #b768ac);
    color: #ffffff;
    border: 1px #656565 solid;
    font-weight: bold;
    padding: 4px;
    margin: 2px;
    border-radius: 3px;
  }

  .update_info_title_subject_red{
    width: 244px;
    background-image: -webkit-linear-gradient(left, #ea8989, #b76868);
    background-image: linear-gradient(90deg, #fa8989, #c76868);
    color: #ffffff;
    border: 1px #656565 solid;
    font-weight: bold;
    padding: 4px;
    margin: 2px;
    border-radius: 3px;
  }

  .update_info_content_title{
    margin-top:12px;
    margin-left:15px;
    text-weight:bold;
    font-size:16px;
    border-bottom:1px dotted #666666;
    background-color:#f0f0f0;
  }

  .update_info_content_body{
    margin-left:20px;
    font-size:10px;
    color:#666666;
  }

  .update_info_container{
    margin-top:12px;
    margin-left:0px;
    border: 1px #d2d2d2 solid;
  }
  .update_info_container_timestamp{
    background-color:#d2d2d2;
    padding:2px 2px 2px 6px;
  }
  .update_info_container_title{
    padding-left:6px;
    text-weight:bold;
    font-size:16px;
    border-bottom:1px dotted #d2d2d2;
    background-color:#f0f0f0;
  }
  .update_info_container_body{
    margin-left:8px;
    font-size:10px;
    color:#666666;
    padding-top:8px;
    padding-bottom: 12px;
  }
  .update_info_container_body_dash{
    margin-bottom: 6px;
    margin-top: 1px;
    margin-left: -8px;
    border-top: 1px dashed #cccccc;
  }

  div.upper{
    margin-top:0px !important;
  }

  div.mini_area {
    width: 98%;
    margin: 2px auto;
    border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    padding: 5px;
    background-color: #ffffff;
    color: #730000;
  }

  div.mini_area > .mini_area {
    width: 98%;
    margin: 7px auto 3px auto;
    border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    padding: 5px;
    background-color: #eeeee0;
    color: #730000;
  }
  div.mini_area > .mini_area > .mini_area {
    width: 98%;
    margin: 7px auto 3px auto;
    border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    padding: 5px;
    background-color: #fdfdf8;
    color: #730000;
  }

  div.mini_mini_area {
    width: 98%;
    margin: 7px auto 3px auto;
    border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em/ 0.5em 0.5em 0.5em 0.5em;
    padding: 5px;
    background-color: #eeeee0;
    color: #730000;
  }

  div.center{
    text-align:center;
    margin:8px 0px;
    width:100%;
  }
  div.left{
    text-align:left;
  }
  div.right{
    text-align:right;
  }
  div.shadow {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
  }
  div.indent{
    margin-left:10px;
  }

  div.mini_area > div.ma_data{
    width: 98%;
    margin: 5px auto;
    border-radius: 5px;
    padding: 5px;
    background-color: #aaaaaa;
    text-align:left;
    color: #ffffff;
  }

  div.ma_data > span.w_data{
    margin:4px;
    padding:4px;
    background-color:#ffffff;
    border-radius: 4px;
    color: #999999;
    font-weight:bold;
    font-size: 16px;
  }

  div.ma_data > span.wname, div.ma_data > span.artsname, div.ma_data > span.skillname, div.ma_data > span.cvname{
    font-size: 14px;
    background-image: -webkit-linear-gradient(left,#D0D0D0, #AAAAAA);
    background-image: -moz-linear-gradient(left,#D0D0D0, #AAAAAA);
    background-image: -ms-linear-gradient(left,#D0D0D0, #AAAAAA);
    background-image: -o-linear-gradient(left,#D0D0D0, #AAAAAA);
    background-image: linear-gradient(90deg, #D0D0D0, #AAAAAA);
    color: #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .weapon_info{
    background-color:#ffffff;
    border-radius: 4px;
    border:1px #999999 solid;
    font-weight:bold;
    font-size: 20px;
    background-image: -webkit-linear-gradient(left,#D0D0D0, #AAAAAA);
    background-image: -moz-linear-gradient(left,#D0D0D0, #AAAAAA);
    background-image: -ms-linear-gradient(left,#D0D0D0, #AAAAAA);
    background-image: -o-linear-gradient(left,#D0D0D0, #AAAAAA);
    background-image: linear-gradient(90deg, #D0D0D0, #AAAAAA);
    color: #333333;
    margin:4px 1px;
    padding:4px 6px;
  }
  .weapon_info_evo_before{
    background-color:#ffffff;
    border-radius: 4px;
    border:1px #999999 solid;
    font-weight:bold;
    font-size: 10px;
    background-image: -webkit-linear-gradient(left,#636363, #525252);
    background-image: -moz-linear-gradient(left,#636363, #525252);
    background-image: -ms-linear-gradient(left,#636363, #525252);
    background-image: -o-linear-gradient(left,#636363, #525252);
    background-image: linear-gradient(90deg, #636363, #525252);
    color: #8e8e8e;
    margin:4px 4px;
    padding:4px 6px;
  }
  .weapon_info_evo_after{
    background-color:#000000;
    border-radius: 4px;
    border:1px #999999 solid;
    font-weight:bold;
    font-size: 10px;
    background-image: -webkit-linear-gradient(left,#363636, #090909);
    background-image: -moz-linear-gradient(left,#363636, #090909);
    background-image: -ms-linear-gradient(left,#363636, #090909);
    background-image: -o-linear-gradient(left,#363636, #090909);
    background-image: linear-gradient(90deg, #363636, #090909);
    color: #ffff99;
    margin:4px 4px;
    padding:4px 6px;
  }
  .weapon_info_cv{
    margin-bottom:10px;
  }

  .an_title {
    font-weight: bold;
    padding: 4px;
    margin: 2px;
    border-radius: 300px;
  }

  .at_elm0{
    background-image: -webkit-linear-gradient(left,  rgba(255,255,255,  .0), rgba(255,255,  0,  .5), rgba(255,255,255, 1.0), rgba(  0,255,255,  .5), rgba(255,255,255,  .0));
    background-image:         linear-gradient(90deg, rgba(255,255,255,  .0), rgba(255,255,  0,  .5), rgba(255,255,255, 1.0), rgba(  0,255,255,  .5), rgba(255,255,255,  .0));
    color: #ffffff;
  }
  .at_elm1{
    background-image: -webkit-linear-gradient(left,  rgba(255,255,255,  .0), rgba(255, 69, 69, 1.0), rgba(255,255,255,  .0));
    background-image:         linear-gradient(90deg, rgba(255,255,255,  .0), rgba(255, 69, 69, 1.0), rgba(255,255,255,  .0));
    color: #ffffff;
  }
  .at_elm2{
    background-image: -webkit-linear-gradient(left,  rgba(255,255,255,  .0), rgba(166,166,255, 1.0), rgba(255,255,255,  .0));
    background-image:         linear-gradient(90deg, rgba(255,255,255,  .0), rgba(166,166,255, 1.0), rgba(255,255,255,  .0));
    color: #ffffff;
  }
  .at_elm3{
    background-image: -webkit-linear-gradient(left,  rgba(255,255,255,  .0), rgba(25,255, 100, 1.0), rgba(255,255,255,  .0));
    background-image:         linear-gradient(90deg, rgba(255,255,255,  .0), rgba(25,255, 100, 1.0), rgba(255,255,255,  .0));
    color: #ffffff;
  }
  .at_elm4{
    background-image: -webkit-linear-gradient(left,  rgba(255,255,255,  .0), rgba(255,255, 80, 1.0), rgba(255,255,255,  .0));
    background-image:         linear-gradient(90deg, rgba(255,255,255,  .0), rgba(255,255, 80, 1.0), rgba(255,255,255,  .0));
    color: #000000;
  }
  .at_elm5{
    background-image: -webkit-linear-gradient(left,  rgba(255,255,255,  .0), rgba(180,  0,108, 1.0), rgba(255,255,255,  .0));
    background-image:         linear-gradient(90deg, rgba(255,255,255,  .0), rgba(180,  0,108, 1.0), rgba(255,255,255,  .0));
    color: #ffffff;
  }
  .at_elm6{
    background-image: -webkit-linear-gradient(left,  rgba(136,104,  0, 1.0), rgba(250,215,102, 1.0), rgba(170,215,102, 1.0), rgba(136,104,  0, 1.0));
    background-image:         linear-gradient(90deg, rgba(136,104,  0, 1.0), rgba(250,215,102, 1.0), rgba(170,215,102, 1.0), rgba(136,104,  0, 1.0));
    color: #ffffff;
  }

  .nm_elm1{
    background-image: -webkit-linear-gradient(to top,  rgba(255, 69, 69, 1.0), rgba(255,255,255,  .0));
    background-image:         linear-gradient(0deg,    rgba(255, 69, 69, 1.0), rgba(255,255,255,  .0));
    color: #ffffff;
  }
  .nm_elm2{
    background-image: -webkit-linear-gradient(to top,  rgba(166,166,255, 1.0), rgba(255,255,255,  .0));
    background-image:         linear-gradient(0deg,    rgba(166,166,255, 1.0), rgba(255,255,255,  .0));
    color: #ffffff;
  }
  .nm_elm3{
    background-image: -webkit-linear-gradient(to top,  rgba(25,255, 100, 1.0), rgba(255,255,255,  .0));
    background-image:         linear-gradient(0deg,    rgba(25,255, 100, 1.0), rgba(255,255,255,  .0));
    color: #ffffff;
  }
  .nm_elm4{
    background-image: -webkit-linear-gradient(to top,  rgba(255,255, 80, 1.0), rgba(255,255,255,  .0));
    background-image:         linear-gradient(0deg,    rgba(255,255, 80, 1.0), rgba(255,255,255,  .0));
    color: #000000;
  }
  .nm_elm5{
    background-image: -webkit-linear-gradient(to top,  rgba(180,  0,108, 1.0), rgba(255,255,255,  .0));
    background-image:         linear-gradient(0deg,    rgba(180,  0,108, 1.0), rgba(255,255,255,  .0));
    color: #ffffff;
  }
  .nm_elm6{
    background-image: -webkit-linear-gradient(to top,  rgba(  0,  0,  0, 1.0), rgba(255,255,255,  .0));
    background-image:         linear-gradient(0deg,    rgba(  0,  0,  0, 1.0), rgba(255,255,255,  .0));
    color: #ffffff;
  }

  span.rare_1{
    background-image: -webkit-linear-gradient(left,  rgba(250,215,102, 1.0), rgba(170,215,102, 1.0), rgba(250,215,102, 1.0));
    background-image:         linear-gradient(90deg, rgba(250,215,102, 1.0), rgba(170,215,102, 1.0), rgba(250,215,102, 1.0));
  }
  span.rare_2{
    background-image: -webkit-linear-gradient(left,  rgba(250,215,102, 1.0), rgba(170,215,102, 1.0), rgba(250,215,102, 1.0));
    background-image:         linear-gradient(90deg, rgba(250,215,102, 1.0), rgba(170,215,102, 1.0), rgba(250,215,102, 1.0));
  }
  span.rare_3{
    background-image: -webkit-linear-gradient(left,  rgba(250,215,102, 1.0), rgba(170,215,102, 1.0), rgba(250,215,102, 1.0));
    background-image:         linear-gradient(90deg, rgba(250,215,102, 1.0), rgba(170,215,102, 1.0), rgba(250,215,102, 1.0));
  }
  span.rare_4{
    background-image: -webkit-linear-gradient(left,  rgba(255,255,  0,  .5), rgba(255,255,255, 1.0), rgba(  0,255,255,  .5));
    background-image:         linear-gradient(90deg, rgba(255,255,  0,  .5), rgba(255,255,255, 1.0), rgba(  0,255,255,  .5));
  }
  span.rare_5{
    background-image: -webkit-linear-gradient(left,  rgba(255,255,  0,  .5), rgba(255,255,255, 1.0), rgba(  0,255,255,  .5));
    background-image:         linear-gradient(90deg, rgba(255,255,  0,  .5), rgba(255,255,255, 1.0), rgba(  0,255,255,  .5));
  }
  span.rare_6{
    background-image: -webkit-linear-gradient(left,  rgba(255,255,  0,  .5), rgba(255,255,255, 1.0), rgba(  0,255,255,  .5));
    background-image:         linear-gradient(90deg, rgba(255,255,  0,  .5), rgba(255,255,255, 1.0), rgba(  0,255,255,  .5));
  }


  span.element_1{
    background: -webkit-linear-gradient(left, #FF0000, #FEBA01);
    background: -moz-linear-linear-gradient(left, #FF0000, #FEBA01);
    background: -ms-linear-linear-gradient(left, #FF0000, #FEBA01);
    background: -o-linear-linear-gradient(left, #FF0000, #FEBA01);
    background: linear-gradient(90deg, #FF0000, #FEBA01);
    color: #ffffff !important;
  }
  span.element_2{
    background: -webkit-linear-gradient(left, #0000FF, #00BFFF);
    background: -moz-linear-linear-gradient(left, #0000FF, #00BFFF);
    background: -ms-linear-linear-gradient(left, #0000FF, #00BFFF);
    background: -o-linear-linear-gradient(left, #0000FF, #00BFFF);
    background: linear-gradient(90deg, #0000FF, #00BFFF);
    color: #ffffff !important;
  }
  span.element_3{
    background: -webkit-linear-gradient(left, #00FF00, #06FEB8);
    background: -moz-linear-linear-gradient(left, #00FF00, #06FEB8);
    background: -ms-linear-linear-gradient(left, #00FF00, #06FEB8);
    background: -o-linear-linear-gradient(left, #00FF00, #06FEB8);
    background: linear-gradient(90deg, #00FF00, #06FEB8);
    color: #ffffff !important;
  }
  span.element_4{
    background: -webkit-linear-gradient(left, #FFFF99, #FFFFE2);
    background: -moz-linear-linear-gradient(left, #FFFF99, #FFFFE2);
    background: -ms-linear-linear-gradient(left, #FFFF99, #FFFFE2);
    background: -o-linear-linear-gradient(left, #FFFF99, #FFFFE2);
    background: linear-gradient(90deg, #FFFF99, #FFFFE2);
    color: #000000 !important;
  }
  span.element_5{
    background: -webkit-linear-gradient(left, #35002F, #75006F);
    background: -moz-linear-linear-gradient(left, #35002F, #75006F);
    background: -ms-linear-linear-gradient(left, #35002F, #75006F);
    background: -o-linear-linear-gradient(left, #35002F, #75006F);
    background: linear-gradient(90deg, #35002F, #75006F);
    color: #ffffff !important;
  }
  span.element_6{
    background: -webkit-linear-gradient(left, #ffffff, #eaeaea);
    background: -moz-linear-linear-gradient(left, #ffffff, #eaeaea);
    background: -ms-linear-linear-gradient(left, #ffffff, #eaeaea);
    background: -o-linear-linear-gradient(left, #ffffff, #eaeaea);
    background: linear-gradient(90deg, #ffffff, #eaeaea);
    color: #000000 !important;
  }
  span.wround{
    margin:4px;
    padding:4px;
    background-color:#ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #999999;
    font-weight:bold;
    font-size: 16px;
  }
  span.wround_b{
    margin:4px;
    padding:4px;
    background-color:#cca66d;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #ffffff;
    font-weight:bold;
    font-size: 12px;
  }

  div.voice_button > input{
    margin:4px;
    padding:4px;
    border-radius: 6px;
    border:1px solid #8c8c8c;
    background: -webkit-linear-gradient(top, #d0d0d0, #ffffff);
    background: -moz-linear-linear-gradient(top, #d0d0d0, #ffffff);
    background: -ms-linear-linear-gradient(top, #d0d0d0, #ffffff);
    background: -o-linear-linear-gradient(top, #d0d0d0, #ffffff);
    background: linear-gradient(top, #d0d0d0, #ffffff);
    color: #333333;
    font-weight:bold;
    font-size: 16px;
  }

  div.voice_button > input.played{
    margin:4px;
    padding:4px;
    border-radius: 22px;
    border:1px solid #8c8c8c;
    background: -webkit-linear-gradient(bottom, #d0d0d0, #ffffff);
    background: -moz-linear-linear-gradient(bottom, #d0d0d0, #ffffff);
    background: -ms-linear-linear-gradient(bottom, #d0d0d0, #ffffff);
    background: -o-linear-linear-gradient(bottom, #d0d0d0, #ffffff);
    background: linear-gradient(bottom, #d0d0d0, #ffffff);
    color: #9a9a9a;
    font-weight:bold;
    font-size: 16px;
  }


  div.title{
    border-bottom:1px solid #337ab7;
    font-size:15px;
    color:#337ab7;
  }
  div.title_grad{
    border-bottom:1px solid #337ab7;
    font-size:15px;
    color:#337ab7;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.7) 72%, rgba(255,255,255,.7) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,.7) 72%,rgba(255,255,255,.7) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.7) 72%,rgba(255,255,255,.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  }
  .sub_title_block{
    margin:4px;
    padding:8px;
    background-color:#d2bfa0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333333;
    font-weight:bold;
    font-size: 14px;
  }

  div.content{
    margin-top:10px;
    margin-bottom:10px;
  }

  div.content_block{
    border-bottom:1px dotted #909090;
    margin-bottom:10px;
    padding-bottom:10px;
  }

  div._content_block{
    margin-bottom:10px;
    padding-bottom:10px;
  }

  div#content_reward{
    margin-top:10px;
  }

  div.closed_menu > span.toggle{
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  div.close{
    display:none;
    margin-top:10px;
    margin-bottom:10px;
  }

  div.footer{
    border-top:1px dotted #a0a0a0;
    margin-top:15px;
  }

  div.content_t{
    margin-top:7px;
    font-size:11px;
    text-align:left;
  }

  div.caution_t{
    margin-top:7px;
    font-size:10px;
    color:#777777;
    text-align:left;
  }
  div.caution_a{
    margin-top:7px;
    font-size:10px;
    text-align:left;
    margin-top:5px;
  }
  div.caution_a:last-child {
    margin-bottom:5px;
  }

  .topics_list {
    width: 244px;
    background-image: -webkit-linear-gradient(left, #ea89de, #b768ac);
    background-image: linear-gradient(90deg, #ea89de, #b768ac);
    color: #ffffff;
    border: 1px #656565 solid;
    font-weight: bold;
    padding: 4px;
    margin: 2px;
    border-radius: 3px;
  }
  .topics_list_g {
    width: 244px;
    background-image: -webkit-linear-gradient(left, #e2e2e2, #f5f5f5);
    background-image: linear-gradient(90deg, #e2e2e2, #f5f5f5);
    color: #b3b3b3;
    border: 1px #cacaca dotted;
    font-weight: bold;
    padding: 4px;
    margin: 2px;
    border-radius: 3px;
  }
  .swip_info {
    text-align:center;
    margin-bottom:8px;
    color:#666666;
    margin-top:-16px;
  }

  div.head_alert{
    background-color:#e43c37;
    color:#ffffff;
    text-align:center;
    margin-bottom:10px;
  }

  div.head_update{
    border-top:#e43c37 1px solid;
    border-bottom:#e43c37 1px solid;
    background-color:#ffcccc;
    color:#e43c37;
    text-align:left;
    margin-bottom:10px;
    padding: 3px 0 3px 0;
    font-size:10px;
  }

  td.face{
    width:76px;
    height:auto;
  }

  td.talk{
    width:100%;
    font-size:10px;
    color:#000000;
    text-align:left;
    padding-left:10px;
    padding-right:10px;
  }

  a.nav_bar{
    border-radius: 0px;
    padding: 5px 10px 5px 10px;
    margin-right:-4px;
    color: #FFFFFF;
    font-size: 12px;
    border: 1px solid #8C8C8C;
    text-decoration: none !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  a.leftend, a.reward_nav:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  a.rightend, a.reward_nav:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right:0px !important;
  }

  a.manga_next{
    border-radius: 8px;
    padding: 13px;
    color: #FFFFFF;
    font-size: 14px;
    border: 1px solid #8C8C8C;
    text-decoration: none !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .back_blue{
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
  }

  .back_white{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  }

  a.attention_next{
    color: #FFFFFF;
    text-decoration: none !important;
  }
  .attention_btn {
    -moz-box-shadow: 3px 4px 0px 0px #383838;
    -webkit-box-shadow: 3px 4px 0px 0px #383838;
    box-shadow: 3px 4px 0px 0px #383838;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #858585), color-stop(1, #b5b5b5));
    background:-moz-linear-gradient(top, #858585 5%, #b5b5b5 100%);
    background:-webkit-linear-gradient(top, #858585 5%, #b5b5b5 100%);
    background:-o-linear-gradient(top, #858585 5%, #b5b5b5 100%);
    background:-ms-linear-gradient(top, #858585 5%, #b5b5b5 100%);
    background:linear-gradient(to bottom, #858585 5%, #b5b5b5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#858585', endColorstr='#b5b5b5',GradientType=0);
    background-color:#858585;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #666666;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding:16px 44px;
    text-decoration:none;
    text-shadow:0px 1px 0px #525252;
  }

  span.subject{
    border-bottom:1px solid #000000 /* #337ab7 */;
    color: #000000 /* #337ab7 */ ;
    font-weight: bold;
  }

  div.subject{
    border-bottom:1px solid #000000 /* #337ab7 */;
    color: #000000 /* #337ab7 */ ;
    font-weight: bold;
    padding-bottom: 3px;
    margin-top:10px;
  }

  div.subject_grad{
    border-bottom:1px solid #000000 /* #337ab7 */;
    color: #000000 /* #337ab7 */ ;
    font-weight: bold;
    padding-bottom: 3px;
    margin-top:10px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,.7) 72%, rgba(255,255,255,.7) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,.7) 72%,rgba(255,255,255,.7) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.7) 72%,rgba(255,255,255,.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  }

  div.sub_subject{
    color: #000000 /* #337ab7 */ ;
    font-weight: bold;
    margin-top:10px;
    margin-left:4px;
  }
  div.big_subject{
    background-image: -webkit-linear-gradient(left, #222222, #999999);
    background-image: -moz-linear-linear-gradient(left, #222222, #999999);
    background-image: -ms-linear-linear-gradient(left, #222222, #999999);
    background-image: -o-linear-linear-gradient(left, #222222, #999999);
    background-image: linear-gradient(90deg, #222222, #999999);
    color:#ffffff;
    font-weight:bold;
    padding:4px;
    margin:2px;
    border-radius:4px;
    margin-top:20px;
    margin-bottom:2px;
  }
  div.mini_area div.mini_area div.subject{
    border-bottom:1px solid #787878 /* #337ab7 */;
    color: #787878 /* #337ab7 */ ;
    font-weight: bold;
    padding-bottom: 3px;
    margin-top:0px;
    margin-bottom:6px;
  }


  span.title{
    background-image: -webkit-linear-gradient(left, #AAAAAA, #D0D0D0);
    background-image: -moz-linear-linear-gradient(left, #AAAAAA, #D0D0D0);
    background-image: -ms-linear-linear-gradient(left, #AAAAAA, #D0D0D0);
    background-image: -o-linear-linear-gradient(left, #AAAAAA, #D0D0D0);
    background-image: linear-gradient(90deg, #AAAAAA, #D0D0D0);
    color:#ffffff;
    font-weight:bold;
    padding:4px;
    margin:2px;
    border-radius:4px;
  }
  span.title_mini{
    background-image: -webkit-linear-gradient(left, #AAAAAA, #D0D0D0, #AAAAAA);
    background-image: -moz-linear-linear-gradient(left, #AAAAAA, #D0D0D0, #AAAAAA);
    background-image: -ms-linear-linear-gradient(left, #AAAAAA, #D0D0D0, #AAAAAA);
    background-image: -o-linear-linear-gradient(left, #AAAAAA, #D0D0D0, #AAAAAA);
    background-image: linear-gradient(90deg, #AAAAAA, #D0D0D0, #AAAAAA);
    color:#ffffff;
    font-weight:bold;
    padding-top:1px;
    padding-bottom:1px;
    padding-left:8px;
    padding-right:8px;
    margin:2px;
    border-radius:4px;
    border:1px solid #999999
  }


  div.img_subject{
    border-bottom:1px #000000 solid;
    margin-top:10px;
  }


  table.prize{
    font-size:12px;
    background-color:#ffffff;
    width:100%;
  }
  table.prize th{
    color:#337ab7;
    font-weight:bold;
    font-size:15px;
    text-align:center;
  }
  table.prize td{
    text-align:center;
    border:0px solid #ffffff;
    padding-top:8px;
    padding-bottom:8px;
  }
  table.prize td.title{
    background-color:#337ab7;
    color:#ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  table.prize td.cleared_title{
    background-color:#004784 !important;
    color:#cccccc !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  table.prize td.img{
    background-color:#f3f3f3;
    color:#000000;
  }
  table.prize td.detail{
    background-color:#dfdfdf;
    color:#000000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  table.prize td.cleared_detail{
    background-color:#acacac !important;
    color:#666666 !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  table.prize td.detail_mid{
    background-color:#dfdfdf;
    color:#000000;
  }
  table.prize td.border{
    background-color:#d0d0d0;
    color:#000000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  table.prize td.space{
    background-color:#ffffff;
    height:5px;
    padding-top:0px;
    padding-bottom:0px;
  }
  tr.prize_list_color:nth-child(odd){
    background-color:rgba(0,0,0,.04);
  }

  img.4koma{
    width:280px;
  }
  img.4koma_all{
    width:560px;
  }
  img.l{
    border:1px solid #202020;
  }
  img.w30per{
    width:30%;
  }
  img.w33per{
    width:33%;
  }
  img.w40per{
    width:40%;
  }
  img.w45per{
    width:45%;
  }
  img.w50per{
    width:50%;
  }
  img.w60per{
    width:60%;
  }
  img.w75per{
    width:75%;
  }
  img.w80per{
    width:80%;
  }
  img.w90per{
    width:90%;
  }
  img.w95per{
    width:95%;
  }
  img.w100per{
    width:100%;
  }
  img.w150per{
    width:150%;
  }
  img.w200px{
    width:200px;
  }
  img.w300px{
    width:300px;
  }
  img.w400px{
    width:400px;
  }
  img.w150px{
    width:150px;
  }
  img.w120px{
    width:120px;
  }
  img.w90px{
    width:90px;
  }
  img.w72px{
    width:72px;
  }
  img.w54px{
    width:54px;
  }
  img.w50px{
    width:50px;
  }

  .limw50px{
    max-width:50px;
  }
  .limw54px{
    max-width:54px;
  }
  .limw60px{
    max-width:60px;
  }
  .limw72px{
    max-width:72px;
  }
  .limw80px{
    max-width:80px;
  }
  .limw84px{
    max-width:84px;
  }
  .limw90px{
    max-width:90px;
  }
  .limw100px{
    max-width:100px;
  }
  .limw120px{
    max-width:120px;
  }
  .limw200px{
    max-width:200px;
  }
  .limw300px{
    max-width:300px;
  }
  .limw400px{
    max-width:400px;
  }
  .limw500px{
    max-width:500px;
  }
  .limw600px{
    max-width:600px;
  }

  .limh50px{
    max-height:50px;
  }
  .limh54px{
    max-height:54px;
  }
  .limh60px{
    max-height:60px;
  }
  .limh72px{
    max-height:72px;
  }
  .limh80px{
    max-height:80px;
  }
  .limh84px{
    max-height:84px;
  }
  .limh90px{
    max-height:90px;
  }
  .limh100px{
    max-height:100px;
  }
  .limh120px{
    max-height:120px;
  }
  .limh200px{
    max-height:200px;
  }
  .limh300px{
    max-height:300px;
  }
  .limh400px{
    max-height:400px;
  }
  .limh500px{
    max-height:500px;
  }
  .limh600px{
    max-height:600px;
  }

  .round2px{
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
  }
  .round4px{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
  }
  .round6px{
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
  }
  .round8px{
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
  }
  .round10px{
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
  }
  .round12px{
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
  }
  .round14px{
    border-radius:14px;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;
  }
  .round16px{
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
  }
  .round18px{
    border-radius:18px;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
  }
  .round20px{
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
  }
  img.cleared_item_image{
    opacity: 0.5;
    -moz-opacity: 0.5;
  }
  img.maken_image{
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    max-width:400px;
  }
  img.bg_white{
    background-color:#ffffff;
  }

  .push_para{
    font-family: Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'モリサワ 新ゴ R', 'Droid Sans', 'Meiryo UI', 'sans-serif';
    font-weight: bold;
    text-shadow: 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000;
  }

  .push_para_red{
    font-family: Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'モリサワ 新ゴ R', 'Droid Sans', 'Meiryo UI', 'sans-serif';
    font-weight: bold;
    color:       #ffffff;
    text-shadow: 0px 0px 3px #ff0000, 0px 0px 3px #ff0000, 0px 0px 3px #ff0000, 0px 0px 3px #ff0000, 0px 0px 3px #ff0000;
  }

  .push_para_yellow{
    font-family: Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'モリサワ 新ゴ R', 'Droid Sans', 'Meiryo UI', 'sans-serif';
    font-weight: bold;
    color:       #ffffff;
    text-shadow: 0px 0px 3px #ffff00, 0px 0px 3px #ffff00, 0px 0px 3px #ffff00, 0px 0px 3px #ffff00, 0px 0px 3px #ffff00;
  }

  .push_para_purple{
    font-family: Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'モリサワ 新ゴ R', 'Droid Sans', 'Meiryo UI', 'sans-serif';
    font-weight: bold;
    color:       #ffffff;
    text-shadow: 0px 0px 3px #cc00ff, 0px 0px 3px #cc00ff, 0px 0px 3px #cc00ff, 0px 0px 3px #cc00ff, 0px 0px 3px #cc00ff;
  }

  .push_para_orange{
    font-family: Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'モリサワ 新ゴ R', 'Droid Sans', 'Meiryo UI', 'sans-serif';
    font-weight: bold;
    color:       #ffffff;
    text-shadow: 0px 0px 3px #ff6600, 0px 0px 3px #ff6600, 0px 0px 3px #ff6600, 0px 0px 3px #ff6600, 0px 0px 3px #ff6600;
  }

  .push_para_blue{
    font-family: Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'モリサワ 新ゴ R', 'Droid Sans', 'Meiryo UI', 'sans-serif';
    font-weight: bold;
    color:       #ffffff;
    text-shadow: 0px 0px 3px #337ab7, 0px 0px 3px #337ab7, 0px 0px 3px #337ab7, 0px 0px 3px #337ab7, 0px 0px 3px #337ab7;
  }

  .push_para_pink{
    font-family: Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'モリサワ 新ゴ R', 'Droid Sans', 'Meiryo UI', 'sans-serif';
    font-weight: bold;
    color:       #ffffff;
    text-shadow: 0px 0px 3px #ee9999, 0px 0px 3px #ee9999, 0px 0px 3px #ee9999, 0px 0px 3px #ee9999, 0px 0px 3px #ee9999;
  }

  @-webkit-keyframes "textglow" {
      0% {text-shadow: 0 0 20px #ffff00;}
     25% {text-shadow: 0 0 20px #ff0000;}
     50% {text-shadow: 0 0 20px #ff00ff;}
     75% {text-shadow: 0 0 20px #0000ff;}
    100% {text-shadow: 0 0 20px #00ffff;}
  }
  .textglow {
    -webkit-animation: 'textglow' 0.8s ease-in-out infinite alternate;
  }

  @-webkit-keyframes "boxglow" {
      0% {box-shadow: 0 0 8px #ffff00;}
     50% {box-shadow: 0 0 8px #ffffff;}
    100% {box-shadow: 0 0 8px #ffff00;}
  }
  .boxglow {
    -webkit-animation: 'boxglow' 2.4s ease-in-out infinite alternate;
  }

  @-webkit-keyframes "textfire" {
      0% {text-shadow: 0 0 20px #ff0000;}
     25% {text-shadow: 0 0 20px #991100;}
     50% {text-shadow: 0 0 20px #ff9900;}
     75% {text-shadow: 0 0 20px #991100;}
    100% {text-shadow: 0 0 20px #ff3300;}
  }
  .textfire {
    -webkit-animation: 'textfire' 0.8s ease-in-out infinite alternate;
  }

  @-webkit-keyframes "plztap" {
    0% { transform:translateY(0) }
    5% { transform:translateY(0) }
    10% { transform:translateY(0) }
    20% { transform:translateY(-5px) }
    25% { transform:translateY(0) }
    30% { transform:translateY(-5px) }
    50% { transform:translateY(0) }
    100% { transform:translateY(0) }
  }
  .plztap {
    -webkit-animation: 'plztap' 2.5s ease-in-out infinite;
    box-shadow: 0 0 8px #000000;
  }

  @-webkit-keyframes "plztap2" {
    0% { transform:translateY(0) }
    5% { transform:translateY(0) }
    10% { transform:translateY(0) }
    20% { transform:translateY(-5px) }
    25% { transform:translateY(0) }
    30% { transform:translateY(-2px) }
    35% { transform:translateY(0) }
    100% { transform:translateY(0) }
  }
  .plztap2 {
    -webkit-animation: 'plztap2' 2.5s ease-in-out infinite;
  }

  .arrow_box, .arrow_box_mybg {
    position: relative;
    background: #ffffff;
    border: 2px solid #a1937c;
    border-radius: 5px;
    padding:10px;
  }
  .arrow_box {
    background: #ffffff;
  }
  .arrow_box_mybg {
    background: #ffdede;
  }
  .arrow_box:after, .arrow_box:before, .arrow_box_mybg:after, .arrow_box_mybg:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .arrow_box:after, .arrow_box_mybg:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 5px;
    margin-top: -5px;
  }
  .arrow_box:after {
    border-right-color: #ffffff;
  }
  .arrow_box_mybg:after {
    border-right-color: #ffdede;
  }
  .arrow_box:before, .arrow_box_mybg:before{
    border-color: rgba(161, 147, 124, 0);
    border-right-color: #a1937c;
    border-width: 8px;
    margin-top: -8px;
  }
  
  .arrow_box_r {
    position: relative;
    background: #ffffff;
    border: 2px solid #a1937c;
    border-radius: 5px;
    padding:10px;
  }
  .arrow_box_r:after, .arrow_box_r:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .arrow_box_r:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 5px;
    margin-top: -5px;
  }
  .arrow_box_r:before {
    border-color: rgba(161, 147, 124, 0);
    border-left-color: #a1937c;
    border-width: 8px;
    margin-top: -8px;
  }

  #pageTop {
    position: fixed;
    bottom: 30px;
    right: 20px;
  }

  #pageTop a {
    display: block;
    z-index: 999;
    padding: 8px;
    border-radius: 4px;
    width: 60px;
    height: 35px;
    background-color: #000000;
    color: #999999;
    font-weight: bold;
    text-decoration: none !important;
    text-align: center;
    vertical-align: middle;
    opacity: 0.5;
  }
 
  #pageTop a:hover {
    text-decoration: none !important;
    opacity: 0.3;
  }

  .dashed_line {
    margin-bottom: 6px;
    margin-top: 1px;
    border-top: 1px dashed #cccccc;
  }

.help-group .help-heading, .bebel {
  background-image:none;
  -moz-box-shadow: 0px 0px 0px 1px #683a23;
  -webkit-box-shadow: 0px 0px 0px 1px #683a23;
  box-shadow: 0px 0px 0px 1px #683a23;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f2c5), color-stop(1, #f2ca7b));
  background:-moz-linear-gradient(top, #f6f2c5 5%, #f2ca7b 100%);
  background:-webkit-linear-gradient(top, #f6f2c5 5%, #f2ca7b 100%);
  background:-o-linear-gradient(top, #f6f2c5 5%, #f2ca7b 100%);
  background:-ms-linear-gradient(top, #f6f2c5 5%, #f2ca7b 100%);
  background:linear-gradient(to bottom, #f6f2c5 5%, #f2ca7b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f2c5', endColorstr='#f2ca7b',GradientType=0);
  background-color:#f6f2c5;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border-radius:12px;
  border-top:   2px solid #ac8f54;
  border-bottom:8px solid #ac8f54;
  border-left:  2px solid #ac8f54;
  border-right: 8px solid #ac8f54;
  display:inline-block;
  cursor:pointer;
  color:#683a23;
  font-family:Arial;
  font-weight:bold;
  padding:12px 0px;
  text-decoration:none;
  text-shadow:0px 1px 4px #ffffff;
  font-family: Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'モリサワ 新ゴ R', 'Droid Sans', 'Meiryo UI', 'sans-serif';
  font-weight: bold;
  max-width: 600px;
  min-height: 56px;
  height: initial;
}
.help-group .help-heading:active, .bebel:active {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2ca7b), color-stop(1, #f6f2c5));
  background:-moz-linear-gradient(top, #f2ca7b 5%, #f6f2c5 100%);
  background:-webkit-linear-gradient(top, #f2ca7b 5%, #f6f2c5 100%);
  background:-o-linear-gradient(top, #f2ca7b 5%, #f6f2c5 100%);
  background:-ms-linear-gradient(top, #f2ca7b 5%, #f6f2c5 100%);
  background:linear-gradient(to bottom, #f2ca7b 5%, #f6f2c5 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ca7b', endColorstr='#f6f2c5',GradientType=0);
  background-color:#f2ca7b;
  position:relative;
  top:1px;
}
.help-body {
  max-width: 540px;
}

.ranking_heroines .r_h_rank{
  width:28%;
}

body#helpWindow div.screen-wrapper{
  background-size: initial !important;
}

div.grimoire_swiper-wrap-slider{
  position: relative;
  top: 200px;
  left: 0;
  width: 95%;
  z-index: 100;
  text-align: center;
  color: black;
  opacity: .25;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  margin:0px auto;
}

.cite_area{
  margin: 10.4px auto;
  font-size: 14px;
  text-align: center;
}
.cite_content{
  display: block;
  text-align: left;
  border: 1px solid #E1E8ED;
  width:100%;
  max-width:540px;
  overflow: hidden;
}
.cite_href{
  width: 100%;
  text-decoration: none !important;
  background-color: transparent;
  display: block !important;
}

.cite_image{
  border: 0px solid inherit;
  border-right-width: 1px;
}

.cite_text_wrapper{
  padding: 5px;
  background-color: #ffffff;
}
.cite_text{
  width:100%;
}
.cite_text h2{
  max-height: 16px;
  margin: 0 0 .15em;
  padding: 0;
  color: #212121;
  font-weight:bold;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cite_text p{
  max-height: 46.8px;
  display: block !important;
  padding: 0;
  list-style: none;
  line-height: 1.5;
  border: none;
  width: auto;
}
.cite_text .subcite{
  color: #8899A6;
  max-height: 1.3em;
}

.cite_text_container {
  overflow: hidden;
  width: 100%;
}
.cite_text_container_p {
  /*
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

@keyframes blink {
  75% { opacity: 0.0; }
}
.blink {
  animation: blink 1s step-end infinite;
}




